html {
    margin: 0;
    height: 99%;
    width: 100%;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

.main {
    background-color: #9ac5fa;
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.navbar {
    background-color: #e3eafa;
    height: 75px;
    border: 1px solid grey;
    border-radius: 10px;
}

li.topnavbar {
    text-align: center;
    border: 1px solid black;
    list-style-type: none;
    background-color: #cccccc;
    float: left;
    width: 80px;
    padding: 5px 10px 5px 10px;
    margin-right: 50px;
    margin-top: 4px;
    border-radius: 5px;
}

img#social {
    height: 75px;
    float: right;
    margin-top: -16px;
    margin-left: 40px;
    border-radius: 10px;
}

.leftnavbar {
    text-align: center;
    border: 1px solid black;
    list-style-type: none;
    background-color: #cccccc;
    float: left;
    clear: both;
    width: 100px;
    height: 28px;
    display: inline-block;
    margin-bottom: 40px;
    border-radius: 10px;
    align-content: center;
}

.page {
    display: block;
    position: fixed;
    top: 65px;
    left: 250px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 75px;
    background-color: #4c4c4c;
    border-radius: 10px;
}

.fsocial {
    height: 75px;
    float: right;
    margin-left: 40px;
    border-radius: 10px;
}

p{
    background-color: #ffffff;
    width: 30%;
    position: fixed;
    text-align: left;
    left: 250px;
    top: 110px;
    display: inline-block;
    border: 1px solid lightgray;
    border-radius: 10px;
}

.pictures {
    position: fixed;
    left: 50%;
    top: 20%;
}

.pic {
    display: inline-block;
    position: fixed;
    float: right;
    left: 50%;
    top: 15%;
    height: 153px;
    border-radius: 10px;
    margin-right: 5%;
}

.mail {
    display: inline-block;
    position: fixed;
    float: left;
    left: 3%;
    bottom: 0;
    height: 75px;
    border-radius: 10px;
    margin-right: 5%;
}