div{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 200px;
    margin-right: 200px;
}

p{
    font-weight: bold;
    text-align: center;
    display: inline-block;
}
#the {
    font-style: italic;
}