div{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 200px;
    margin-right: 200px;
}

p {
    text-align: center;
    display: inline-block;
}
.first{
    font-weight: bold;
}
.the {
    font-style: italic;
}
img{
    width: 600px;
}
.picture{
    margin-top: 0px;
    margin-bottom: 0px;
}
p.p1{
    width: 200px;
    text-align: left;
    font-weight: bold;
}
p.p2{
    width: 200px;
    text-align: left;
}
p.p3{
    width: 200px;
}