div{
    text-align: center;
    margin: 50px 400px;
}

p {
    display: inline-block;
}

.titel{
    font-size: 25px;
    margin: 0px;
}

.first{
    font-weight: bold;
}

.the {
    font-style: italic;
}

img{
    width: 620px;
}

.picture{
    margin: 0px;

}

.alinea1{
    width: 200px;
    margin: 0px;
    text-align: left;
    display: inline-block;
    vertical-align: top;
}

p.p1{
    font-weight: bold;
}

.alinea2{
    width: 200px;
    margin: 0px;
    text-align: left;
    display: inline-block;
    vertical-align: top;
}


p.p4{
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

.alinea3{
    width: 200px;
    margin: 0px;
    text-align: left;
    display: inline-block;
    vertical-align: top;
}